
{% load static %}

<!-- Apple Stuff -->
<meta name="apple-mobile-web-app-title" content="Jims AV">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{% static 'plankowner/css/base.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous"></script>
<script  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdn.rangetouch.com/2.0.1/rangetouch.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="container-fluid alert_container">
    <div class=useralert>
      <div class='row'>
        <div class="alert-box success">Successful Alert !!!</div>
        <div class="alert-box failure">Failure Alert !!!</div>
        <div class="alert-box warning">Warning Alert !!!</div>
        <div class="alert-box" hidden>Just for spacing</div>
<!--         <div class="alert-box danger">Danger Alert !!!</div> -->
      </div>
    </div>
  </div>
  <div class="container-fluid controls_container">

    <div class="button_container" id="button_container">
        <!-- Buttons will be populated here -->
    </div>

    <div class="range_container" id="range_container">
      <!-- Ranges will be populated here -->
    </div>

     <div class="page_container" id="page_container">
      <!-- Pages will be populated here -->
    </div>

  </div>

</body>



<script>

var panels = {{panels|safe}};
var is_auth = {{authenticated}};
</script>
<script src="{% static 'plankowner/js/multipanel.js'%}"></script>

