
{% load static %}
{% load qr_code %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{% static 'plankowner/css/room.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous"></script>
<script  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<div class="container">
  <div class=useralert>
    <div class='row'>
      <div class="alert-box success">Successful Alert !!!</div>
      <div class="alert-box failure">Failure Alert !!!</div>
      <div class="alert-box warning">Warning Alert !!!</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% if wifi %}
    <div class="row">
      <div class="room_container">
        <h1>Scan for Wifi Access to Demo</h1>
        {% qr_from_text wifi %}
      </div>
    </div>
    {% endif %}
        <div class="row">
            {% for panel in panel_uris %}
            <div class="room" onclick="location.href='{% url 'panel_detail' panel.0.id %}'">
                <h5 id="panel_text_{{panel.0.id}}">{{panel.0.name|title}}</h5>
                {% qr_from_text panel.1 %}
            </div>
            {% endfor%}
        </div>
  </div>
</div>
</body>



<script>
//panelstyle
</script>
