
{% load static %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{% static 'plankowner/css/room.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous"></script>
<script  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script> -->

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<body>
<div class="container">
  <div class=useralert>
    <div class='row'>
      <div class="alert-box success">Successful Alert !!!</div>
      <div class="alert-box failure">Failure Alert !!!</div>
      <div class="alert-box warning">Warning Alert !!!</div>
    </div>
  </div>
</div>
<div class="container">
  <div>{{ title }}</div>
  <!-- <canvas id="myChart"></canvas> -->
  <div id="chart" style="position: relative;">
    <div class="toolbar">
          <button id="one_month" class="">
            1M
          </button>
          
          <button id="six_months" class="">
            6M
          </button>
          
          <button id="one_year" class="">
            1Y
          </button>
          
          <button id="ytd" class="">
            YTD
          </button>
          
          <button id="all" class="active">
            ALL
          </button>
        </div>
  </div>
  <div id="chart2" style="position: relative;">
  </div>

  <div id="chart-area" style="position: relative;">
  </div>
</div>
</body>



<script>

var my_series = {{series|safe}}

console.log(my_series[3])
var options = {
  chart: {
    height: 150,
    id: 'chart',
    type: "area",
    stacked: false,
    group: 'history'
  },
  dataLabels: {
    enabled: false
  },
  tooltip: {
    x: {
      format: 'dd MMM HH:mm'
    }
  },
  markers: {
    size: 0,
  },
  fill: {
    colors: ["green"],
    type: "solid"
  },
  stroke: {
    show: false,
    curve: 'stepline',
    // width: 0.1,
        },
  zoom: {
            type: 'x',
            enabled: true,
            autoScaleYaxis: false
          },
  series: [my_series[3]],
  yaxis: {
    tickAmount: 1,
    labels: {
      minWidth: 40,
      formatter: function (value){
        if (value==1){
          return 'On'
        } else {
          return 'Off'
        }
      }
    }
  },
  xaxis: {
    type: 'datetime'
  }
}

var options2 = {
  chart: {
    height: 150,
    id: 'chart2',
    type: "area",
    stacked: false,
    group: 'history'
  },
  dataLabels: {
    enabled: false
  },
  tooltip: {
    x: {
      format: 'dd MMM HH:mm'
    }
  },
  markers: {
    size: 0,
  },
  fill: {
    colors: ["green"],
    type: "solid"
  },
  stroke: {
    show: false,
    curve: 'stepline',
    // width: 0.1,
        },
  zoom: {
            type: 'x',
            enabled: true,
            autoScaleYaxis: false
          },
  series: [my_series[4]],
  yaxis: {
    tickAmount: 1,
    labels: {
      minWidth: 40,
      formatter: function (value){
        if (value==1){
          return 'On'
        } else {
          return 'Off'
        }
      }
    }
  },
  xaxis: {
    type: 'datetime'
  }
}


var chart = new ApexCharts(document.querySelector("#chart"), options);
var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
chart2.render();
chart.render();

 var optionsArea = {
          chart: {
    height: 150,
    id: 'chart3',
    type: "area",
    stacked: false,
    group: 'history'
  },
  dataLabels: {
    enabled: false
  },
  tooltip: {
    x: {
      format: 'dd MMM HH:mm'
    }
  },
  markers: {
    size: 0,
  },
  fill: {
    colors: ["green"],
    type: "solid"
  },
  stroke: {
    show: false,
    curve: 'stepline',
    // width: 0.1,
        },
  zoom: {
            type: 'x',
            enabled: true,
            autoScaleYaxis: false
          },
  series: [my_series[6]],
  yaxis: {
    tickAmount: 1,
    labels: {
      minWidth: 40,
      formatter: function (value){
        if (value==1){
          return 'On'
        } else {
          return 'Off'
        }
      }
    }
  },
  xaxis: {
    type: 'datetime'
  }
}
var chartArea = new ApexCharts(document.querySelector("#chart-area"), optionsArea);
        chartArea.render();

 var resetCssClasses = function(activeEl) {
        var els = document.querySelectorAll('button')
        Array.prototype.forEach.call(els, function(el) {
          el.classList.remove('active')
        })
      
        activeEl.target.classList.add('active')
      }
      
      document
        .querySelector('#one_month')
        .addEventListener('click', function(e) {
          resetCssClasses(e)
      
          chart.zoomX(
            new Date('28 Jan 2013').getTime(),
            new Date('27 Feb 2013').getTime()
          )
        })
      
      document
        .querySelector('#six_months')
        .addEventListener('click', function(e) {
          resetCssClasses(e)
      
          chart.zoomX(
            new Date('27 Sep 2012').getTime(),
            new Date('27 Feb 2013').getTime()
          )
        })
      
      document
        .querySelector('#one_year')
        .addEventListener('click', function(e) {
          resetCssClasses(e)
          chart.zoomX(
            new Date('27 Feb 2012').getTime(),
            new Date('27 Feb 2013').getTime()
          )
        })
      
      document.querySelector('#ytd').addEventListener('click', function(e) {
        resetCssClasses(e)
      
        chart.zoomX(
          new Date('01 Jan 2013').getTime(),
          new Date('27 Feb 2013').getTime()
        )
      })
      
      document.querySelector('#all').addEventListener('click', function(e) {
        resetCssClasses(e)
      
        chart.zoomX(
          new Date('23 Jan 2012').getTime(),
          new Date('27 Feb 2013').getTime()
        )
      })

</script>
