
body {
    background-color: #edf6f9;
    margin: 50px;
    }

.item {
    padding: 15px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: auto;
    }

.room_container {
  border-style: solid;
  padding: 15px;
}

.room {
  border-style: dashed;
  padding: 15px;
  margin: 15px;

}



.card {
  margin: 15px;
}

.room_selected {
  border-style: solid;
  border-color: green;
  padding: 15px;
  margin: 15px;
}

.talent_container{
  border-style: solid;
  padding: 15px;
}


.round_talent {
    display: flex;
    border-radius: 15px 50px;
    background-color: #264653;
    margin: 15px;
    /*height: 100%;
    width: 100%*/
}


.button_container {
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: 200px;
   align-items: center;
   justify-items: center;
   text-align: center;
   width: 600px;
   /*height: 440px;*/
   }



.alert-box {
  left: 50%;
  top: 50%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 600px;  
}
.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    display: none;
}
.useralert {
    position: fixed;
    float: left;
}
.error
{
 color: red;
}


.fa {
  width: 100%;
}



