<div class="container">
  <h2>Available Talents</h2>

  <div cdkDropList #offList="cdkDropList" [cdkDropListData]="offPanel"
      [cdkDropListConnectedTo]="onList" class="list" (cdkDropListDropped)="drop($event)">
    <div class="list-item" *ngFor="let item of offPanel" cdkDrag>{{item.name}} - {{item.device.name}}</div>
  </div>
</div>

<div class="container">
  <h2>Panel</h2>
  <div cdkDropList #onList="cdkDropList" [cdkDropListData]="onPanel"
    [cdkDropListConnectedTo]="offList" class="list" (cdkDropListDropped)="drop($event)">
    <div class="list-item" *ngFor="let item of onPanel" cdkDrag>
      {{item.name}} - {{item.device.name}}
    </div>
  </div>
</div>
