/** {
   box-sizing: border-box;
   }
      */

      :root {
        --range-fill-color: #2A9D8F;
        --range-background-color: #264653;
        --range-thumb-color: #264653;
      }
      
      /*html {
        font-size: 2.5rem;
      }*/
      
      body {
          background-color: #edf6f9;
          /*background-color: #000022;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1715' height='1715' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke-opacity='0.17'%3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%2300205f' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d55' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c52' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001845' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001742' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001236' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          *//*margin-top: 1rem;
          margin-left: 1rem;*/
      
          }
      
      .controls_container{
        width: max-content;
        /*margin-right: 0;
        margin-left: 0;*/
        /*padding: 2vw;*/
        /* leave room for alerts */
        /*margin-top: 8vw;*/
      
      }
      
      .button_container {
         display: grid;
         padding: 2vw;
         grid-gap: 2vw;
         grid-template-columns: repeat(3, 1fr);
         grid-auto-rows: 20vw;
         align-items: center;
         justify-items: center;
         text-align: center;
         /* Two options here, either all buttons are always the same size */
         /*width: 66vw;*/
         /* or a min size and max size to allow growing for bigger labels */
         min-width: 66vw;
         max-width: 80vw;
         }
      
      
      .page_container {
         display: grid;
         padding: 1vw;
         grid-gap: 1vw;
         grid-template-columns: repeat(5, 1fr);
         grid-auto-rows: 5vw;
         align-items: center;
         justify-items: center;
         text-align: center;
         /* Two options here, either all buttons are always the same size */
         /*width: 66vw;*/
         /* or a min size and max size to allow growing for bigger labels */
         min-width: 66vw;
         max-width: 80vw;
      
        }
      
      .round_page_button {
          display: flex;
          border-radius: 1vw 1vw;
          height: 100%;
          width: 100%;
          /* This will hide the text if there is too much */
          white-space: nowrap;
          /*overflow: hidden;*/
          text-overflow: ellipsis;
          
      }
      
      .page_button_text {
          
          margin: auto;
          padding: 1.2vw;
          text-align: center;
          font-size: 2.5vw;
          /*font-weight: bold;*/
          color: white;
          overflow: hidden;
          text-overflow: ellipsis;
        
          }
      
      .round_button {
          display: flex;
          border-radius: 1vw 5vw;
          height: 100%;
          width: 100%;
          /* This will hide the text if there is too much */
          /*white-space: nowrap;*/
          overflow: hidden;
          text-overflow: ellipsis;
          
      }
      
      .button_text {
          
          margin: auto;
          padding: 1vw;
          text-align: center;
          font-size: 3.5vw;
          font-weight: bold;
          color: white;
          overflow: hidden;
          text-overflow: ellipsis;
        
          }
      
      .button_on {
          background-color: #2A9D8F;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      .button_off {
          background-color: #264653;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      .button_disabled {
          background-color: #e9c46a;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      .button_error {
          background-color: #e5e5e5;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      .transistion_hidden {
        visibility: hidden;
        /*position: absolute;*/
        text-align: center;
      
      }
      
      /* .transistion_shown {
        /*visibility: hidden;*/
        /*position: absolute;*/
      

      
      .range_container {
        padding: 2vw;
        width: 100%;
        /*width: 600px;*/
        /*width: max-content;*/
      }
      
      
      
      
      input[type=range] {
          -webkit-appearance: none;
          -moz-apperance: none;
          border-radius: 1vw 5vw;
          height: 2vw;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
          
          background-image: -webkit-gradient(linear,
              left top, 
              right top, 
              color-stop(15%, var(--range-fill-color)),
              color-stop(15%, #264653));
          
          background-image: -moz-linear-gradient(left center,
              #2A9D8F 0%, #2A9D8F 15%,
              #264653 15%, #264653 100%);
      }
      
      input[type="range"]::-moz-range-track {
          border: none;
          background: none;
          outline: none;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      input[type=range]:focus {
          outline: none;
          border: none;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none !important;
          background-color: #2A9D8F;
          height: 3vw;
          width: 1vw;
          border-radius: 1vw 5vw;
      }
      
      input[type=range]::-moz-range-thumb {
          -moz-appearance: none !important;
          background-color: #2A9D8F;
          border: none;
          height: 3.5vw;
          width: 1vw;
          border-radius: 1vw 5vw;
      }
      
      .alert_container {
        width: max-content;
        margin-top: 2vw;
        margin-bottom: 2vw;
        min-height: 4vw;
        /*text-align: center;*/
      }
      
      .alert-box {
        /*position: relative;*/
        /*left: 20%;
        top: 10%;*/
        /*z-index: 1;*/
        /*position: absolute;*/
        /*left: 50%;*/
        /*top: 50%;*/
        /*padding: 5vw;*/
        /*margin-top: 5vw;*/
        /*margin-bottom: 20px;*/
        margin: auto;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 4px;
        min-width: 50vw;
        height: 4vw;
        font-size: 2.5vw;
        /*width: ;  */
      }
      .success {
          color: #3c763d;
          background-color: #dff0d8;
          border-color: #d6e9c6;
          display: none;
      }
      
      .failure {
          color: #a94442;
          background-color: #f2dede;
          border-color: #ebccd1;
          display: none;
      }
      
      .warning {
          color: #8a6d3b;
          background-color: #fcf8e3;
          border-color: #faebcc;
          display: none;
      }
      /*.useralert {
          position: fixed;
          float: left;
      }*/
      .error
      {
       color: red;
      }