
<div class="container-fluid alert_container">
  <div class=useralert>
    <div class='row'>
      <div class="alert-box success">Successful Alert !!!</div>
      <div class="alert-box failure">Failure Alert !!!</div>
      <div class="alert-box warning">Warning Alert !!!</div>
      <div class="alert-box" [hidden]="!messageShown">{{message}}</div>
    </div>
  </div>
</div>

<div class="container-fluid controls_container">
    <div class="button_container" id="button_container">
        <ng-container *ngFor="let talent of talents">
            <div *ngIf="!talent.is_range" class='round_button'
              [class.button_on]="talent.state"
              [class.button_off]="!talent.state"
              [class.button_error]="!talent.device.is_online"
              (click)="onSelectButton(talent)">
                <div  class="button_text">{{talent.name}}</div>
            </div>
        </ng-container>
    </div>
    <ng-container *ngFor="let talent of talents">
        <div *ngIf="talent.is_range" class="form-group">
            <input type="range" class="form-control-range slider"
                [attr.value]=talent.range_value
                [attr.min]=talent.range_min
                [attr.max]=talent.range_max
                #myrange (input)="onSelectRange(talent, myrange.value)"
                style="background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop({{talent.range_value / 100}}, rgb(42, 157, 143)), color-stop({{talent.range_value / 100}}, rgb(38, 70, 83)))">
            <span class="slider_value">{{talent.range_value}}</span>
        </div>
    </ng-container>
</div>


