
      :root {
        --range-fill-color: #2A9D8F;
        --range-background-color: #264653;
        --range-thumb-color: #264653;
      }
      
      body {
          background-color: #edf6f9;
          }
      
      .controls_container{
        width: max-content;
      }
      
      .button_container {
         display: grid;
         padding: 2vw;
         grid-gap: 2vw;
         grid-template-columns: repeat(3, 1fr);
         grid-auto-rows: 20vw;
         align-items: center;
         justify-items: center;
         text-align: center;
         min-width: 66vw;
         max-width: 80vw;
         }
      
      
      .page_container {
         display: grid;
         padding: 1vw;
         grid-gap: 1vw;
         grid-template-columns: repeat(5, 1fr);
         grid-auto-rows: 5vw;
         align-items: center;
         justify-items: center;
         text-align: center;
         min-width: 66vw;
         max-width: 80vw;
      
        }
      
      .round_page_button {
          display: flex;
          border-radius: 1vw 1vw;
          height: 100%;
          width: 100%;
          /* This will hide the text if there is too much */
          white-space: nowrap;
          /*overflow: hidden;*/
          text-overflow: ellipsis;
          
      }
      
      .page_button_text {
          
          margin: auto;
          padding: 1.2vw;
          text-align: center;
          font-size: 2.5vw;
          /*font-weight: bold;*/
          color: white;
          overflow: hidden;
          text-overflow: ellipsis;
        
          }
      
      .round_button {
          display: flex;
          border-radius: 1vw 5vw;
          height: 100%;
          width: 100%;
          /* This will hide the text if there is too much */
          /*white-space: nowrap;*/
          overflow: hidden;
          text-overflow: ellipsis;
          
      }
      
      .button_text {
          
          margin: auto;
          padding: 1vw;
          text-align: center;
          font-size: 3.5vw;
          font-weight: bold;
          color: white;
          overflow: hidden;
          text-overflow: ellipsis;
        
          }
      
      .button_on {
          background-color: #2A9D8F;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      .button_off {
          background-color: #264653;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      .button_disabled {
          background-color: #e9c46a;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      .button_error {
          background-color: #e5e5e5;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      .transistion_hidden {
        visibility: hidden;
        /*position: absolute;*/
        text-align: center;
      
      }
      
      .range_container {
        padding: 2vw;
        width: 100%;
      }
      
      
      
      
      input[type=range] {
          -webkit-appearance: none;
          -moz-apperance: none;
          border-radius: 1vw 5vw;
          height: 2vw;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
          
          background-image: -webkit-gradient(linear,
              left top, 
              right top, 
              color-stop(15%, var(--range-fill-color)),
              color-stop(15%, #264653));
          
          background-image: -moz-linear-gradient(left center,
              #2A9D8F 0%, #2A9D8F 15%,
              #264653 15%, #264653 100%);
      }
      
      input[type="range"]::-moz-range-track {
          border: none;
          background: none;
          outline: none;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      input[type=range]:focus {
          outline: none;
          border: none;
          box-shadow: 0 2px 5px rgba(0,0,0,.5);
      }
      
      input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none !important;
          background-color: #2A9D8F;
          height: 3vw;
          width: 1vw;
          border-radius: 1vw 5vw;
      }
      
      input[type=range]::-moz-range-thumb {
          -moz-appearance: none !important;
          background-color: #2A9D8F;
          border: none;
          height: 3.5vw;
          width: 1vw;
          border-radius: 1vw 5vw;
      }
      
      .alert_container {
        width: max-content;
        margin-top: 2vw;
        margin-bottom: 2vw;
        min-height: 4vw;
        /*text-align: center;*/
      }
      
      .alert-box {
        margin: auto;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 4px;
        min-width: 50vw;
        height: 4vw;
        font-size: 2.5vw;
        /*width: ;  */
      }
      .success {
          color: #3c763d;
          background-color: #dff0d8;
          border-color: #d6e9c6;
          display: none;
      }
      
      .failure {
          color: #a94442;
          background-color: #f2dede;
          border-color: #ebccd1;
          display: none;
      }
      
      .warning {
          color: #8a6d3b;
          background-color: #fcf8e3;
          border-color: #faebcc;
          display: none;
      }

      .error
      {
       color: red;
      }